<div class="cards mb-3">

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dystxnkgb/image/upload/v1654011385/viktor-forgacs-EyoU4GJjfU4-unsplash_1_rr4cag.jpg)">
    <h6>Placeholder text for costume name</h6>
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dystxnkgb/image/upload/v1654011385/viktor-forgacs-EyoU4GJjfU4-unsplash_1_rr4cag.jpg)">
    <h6>Placeholder text for costume name</h6>
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dystxnkgb/image/upload/v1654011385/viktor-forgacs-EyoU4GJjfU4-unsplash_1_rr4cag.jpg)">
    <h6>Placeholder text for costume name</h6>
  </div>
</div>
