<div class="banner-content">

    <h1>Flex your Frippery</h1>

    <div class="container mb-5">
      <div class= "row">
      <%= render "cards"%>

      <%= render "cards"%>

      <%= render "cards"%>
      </div>
    </div>

  </div>
