<h1 class="greeting">✔ Congratulations your <%= @booking.costume.name %> is on its way!</h1>
<h1>Booking start date: <%= @booking.start_date %></h1>
<h1>Booking end date: <%= @booking.end_date %></h1>
