<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)), url(<%= asset_path('banner-photo.jpg') %>)">
  <div class="container">
    <h1 class="text-center pt-2">Frippery</h1>
    <p class="text-center"><strong>find and rent </strong>fancy dress costumes for special occasions!</p>
        <div class="banner-btns">
          <%# <div class="col-4" style="padding-left: 70px;"> %>
            <%= link_to "List a costume", new_costume_path, class: "btn btn-flat" %>
          <%# </div> %>
          <%# <div class="col-4"> %>
            <%= link_to "Rent a costume", "/costumes", class: "btn btn-flat" %>
          <%# </div> %>
        </div>
  </div>
</div>
