.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  padding-right: 15px;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;

}

.myWrapper {
  height: 50px;
}
