.wrapper {

  width: 650px;
  border: 1px solid rgba(143, 186, 235, 0.416);
  background-color: rgba(215, 220, 222, 0.957);
  border-radius: 2%;
  padding-left: 30px;
  padding-bottom: 30px;
  padding:50px;
  margin-bottom: 50px;
  margin-top: 50px;
  position: relative;
  display: flex;
  min-width: 100px;
  margin-left: 90px;
}
