.wrapper {

  width: 650px;
  border: 1px solid rgba(143, 186, 235, 0.416);
  background-color: rgba(215, 220, 222, 0.957);
  border-radius: 5%;
  // padding-top: 30px;
  // padding-bottom: 30px;
  padding:50px;
  margin-bottom: 50px;
  margin-top: 50px;
}
